body {
    background-color: #F0ECEE;
    padding: 0px 5px 0px 5px;
    padding-bottom: 50px;
    font-family: 'Fira Sans';
    padding: 0px 5px 0px 5px;
}

.title {
    font-weight: 600;
}

.navigation {
    color: #88898B;
    list-style: none;
    padding: 0;
    list-style-type: none;
    font-weight: 400;
}

a:link {
    text-decoration: none;
    color: #88898B
}

a:visited {
    text-decoration: none;
    color: #88898B
}

button {
    background-color: #FF4850;
    color: #ffffff;
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 1em;
}

button:hover {
    background-color: #ccc;
}

button:visited {
    color: #FF4850; 
}

em {
    color: #FF4850;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: 2em;
}

h5 {
    color: #88898B;
    font-weight: 400;
    font-size: 1em;
}

/* Desktop Styling */
@media only screen and (min-width: 769px) {
    body {
        background-image: url(../bulldog.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 4em;
    }

    .title {
        position: absolute;
        padding-left: 1em;
    }

    .navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding-right: 1em;
    }

    li {
        padding: 1em;
    }

    .contact {
        width: auto;
    }


    .info {
        padding-left: 1.5em;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10%;
    }

    .text {
        order: 1;
        width: 40%;
    }

    .spacer {
        order: 2;
        width: 60%;
    }

    .findout {
        order: 3;
        width: auto;
    }

}
